body{
	background-color: 	#00FFFF;
}

h1{
	font-family: Noto Sans JP;
}

h3{
	font-family: Noto Sans JP;
}

th{
	font-family: Abel;
	font-size: 16px;
}

td{
	font-family: Indie Flower;
	font-size: 14px;
}

#run{
 	font-family: Architects Daughter;
 	font-size: 20px;
}
